* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 25px;
    background-color: #2B7A78;
    padding: 15px;
}

.nav-link {
    margin: 15px 30px 0 0;
    font-size: 20px;
    color: #DEF2F1;
}

.nav-link:hover {
    color: #3AAFA9;
}

a {
    text-decoration: none;
}

#welcome-section {
    height: 100vh;
    text-align: center;
    color: #DEF2F1;
    background-color: #17252A;
}

#introduction {
    padding-top: 200px;
    font-size: 50px;
}

#introduction-note {
    color: #3AAFA9;
}

#projects {
    background-color: #2B7A78;
    text-align: center;
    padding: 40px 0 40px 0;
}

#projects-heading {
    font-size: 30px;
    color: #17252A;
}

#project-tiles-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.project-tile {
    margin: 15px;
}

.project-image {
    max-width: 100%;
    max-height: 100%;
}

.project-tile-title {
    background-color: #3AAFA9;
}

#projects a {
    color: #DEF2F1;
}

#projects a:hover {
    color: #2B7A78;
}

#contact {
    text-align: center;
    padding: 40px 0 40px 0;
    color: #DEF2F1;
    background-color: #17252A;
}

#contact a {
    color: #3AAFA9;
}

#contact a:hover {
    color: #2B7A78;
}

#contact-heading {
    font-size: 30px;
    padding-bottom: 20px;
}

#contact p {
    font-size: 20px;
}

@media only screen and (max-width: 900px) {
    #project-tiles-container {
        flex-direction: column;
    }

    .project-tile {
        margin-left: 50px;
        margin-right: 50px;
    }
  }